<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BUY</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="../static/homepage/images/Walletz.ico" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/scss/style.css') }}">
    <link href="{{ url_for('static', filename='assets/css/lib/vector-map/jqvmap.min.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo"></a>
              </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('profile') }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Transactions</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-money"></i>Payments</a>
                        <ul class="sub-menu children dropdown-menu">
                            
                            <li><i class="fa fa-money"></i><a href="{{ url_for('pay') }}">Pay</a></li>
                            <li><i class="fa fa-clock-o"></i><a href="{{ url_for('payhistory') }}">Payments History</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-shopping-cart"></i>Purchase</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="ti-shopping-cart"></i><a href="{{ url_for('buy') }}">Buy</a></li>
                            <li><i class="fa fa-clock-o"></i><a href="{{ url_for('buyhistory') }}">Purchase History</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-trash"></i>Dispose</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon ti-trash"></i><a href="{{ url_for('sell') }}">Sell</a></li>
                            <li><i class="fa fa-clock-o"></i><a href="{{ url_for('sellhistory') }}">Sale History</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">Widgets</h3><!-- /.menu-title -->

                    <li>
                        <a href="{{ url_for('convert') }}"> <i class="menu-icon fa fa-arrows-h"></i>Converter</a>
                        
                    </li>
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-credit-card"></i>Bank Details</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-eye"></i><a href="{{ url_for('viewdetails') }}">View Details</a></li>
                            <li><i class="menu-icon ti-eraser"></i><a href="{{ url_for('changedetails') }}">Change Details</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    
    <div id="right-panel" class="right-panel">
    <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">               
                        <div class="form-inline">                           
                        </div>
                        <div class="dropdown for-notification">
                        <div class="dropdown-menu" aria-labelledby="notification">
                        </div>
                    </div>
                    Hash:<strong><i>{{session['hash']}}</i></strong>&nbsp;&nbsp;Balance:<strong><i>{{ session['balance'] }}</i></strong>
                    <div class="dropdown for-message">
                  <div class="dropdown-menu" aria-labelledby="message">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="user-area dropdown float-right">
            
            <a href="{{url_for('signout')}}"> <button type="button" class="btn btn-outline-success" ><i class="fa fa-power-off"></i>&nbsp; Sign Out</button></a>
        </div>

        <div class="language-select dropdown" id="language-select">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                <i class="flag-icon flag-icon-in"></i>
            </a>
            
        </div>

    </div>
</div>

</header><!-- /header -->
<!-- Header-->
  <div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1></h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="{{ url_for('profile') }}">Dashboard</a></li>
                    <li><a href="#">Purchase</a></li>
                    <li class="active">Buy</li>
                </ol>
            </div>
        </div>
    </div>
</div>


{% if bank %}
<div class="row">
    <div class="col"></div>
<div class="col-md-6">
                        <div class="card border border-primary">
                            <div class="card-header bg-danger">
                                <center><strong class="card-title text-light">PAGE NOT ACCESSIBLE</strong></center>
                            </div>
                            <img class="card-img-top" src="{{ url_for('static', filename='assets/images/adddetails.jpg')}}" alt="Card image cap">
                            <div class="card-body">
                                <center><b><p class="card-text text-dark">ADD BANK DETAILS</p></b></center>
                            </div>
                        </div>
                    </div>
    <div class="col"></div>
</div>

{%else%}  


  {% if success %}
    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                            <span class="badge badge-pill badge-success">Success</span>
                                                Purchase Successful.
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
  {% endif%}
  {% for message in form.coinz.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.inr.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="col-sm-12" align="middle">
    <div class="card">
      <div class="card-header">
        <h2>Buy Coinz</h2>
    </div>
    <div class="card-body card-block">
        <form onsubmit="return a()" action="{{ url_for('buy') }}" method="post">
            <br><br>
            <input type="number" step="any" name="coinz" id="coinz" onchange="c2i()" class="form-control col-sm-8" placeholder="Coinz">
            <br><br>
            <input type="number" step="any" name="inr" id="inr" onchange="i2c()" class="form-control col-sm-8" placeholder="INR"><br><br><br>
            <div class="card-footer">
                <button type="submit" class="btn-outline-success"><b><strong>BUY</strong></b></button>
                {{ form.csrf_token }}

            </div>
        </form>
        
    </div>
  </div>
     

  
{%endif%}  
  
	<script type="text/javascript">
		function a()
		{
		    var c=document.getElementById("coinz").value;
		    var i=document.getElementById("inr").value;

		    if (c=="" && i=="")
		    {
		        window.alert("Field is blank");
		        return false;
		    }
		}
		function c2i()
		{
			document.getElementById("inr").value=document.getElementById("coinz").value*10
		}
		function i2c()
		{
			document.getElementById("coinz").value=document.getElementById("inr").value/10
		}
		
		
	</script> 
<script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


    <script src="{{ url_for('static', filename='assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/vector-map/jquery.vmap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/vector-map/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/vector-map/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/vector-map/country/jquery.vmap.world.js') }}"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>