<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../static/homepage/images/Walletz.ico" type="image/x-icon">

    <title>Walletz</title>

    <!-- style -->

    <link href="../static/homepage/css/style.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->

    <link href="../static/homepage/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- carousel -->

    <link href="../static/homepage/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- responsive -->

    <link href="../static/homepage/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="../static/homepage/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="../static/homepage/css/animate.min.css" rel="stylesheet" type="text/css">

    <link href="../static/homepage/css/popup.css" rel="stylesheet" type="text/css">






  </head>

   <body class="module-home" data-spy="scroll" data-target=".navbar">



	<!-- header -->

    	<header role="header" class="header-top" id="headere-top">

        

        	<div class="header-fixed-wrapper" role="header-fixed">

                <div class="container">

                    <!-- hgroup -->

                    <hgroup class="row">

                        <!-- logo -->

                        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

                            <h1>

                                <a href="#headere-top" title="Rooky"><img src="../static/homepage/images/loga.png" alt="Walletz" title="Dream to be free"/></a>
                            </h1>

                        </div>

                        <!-- logo -->

                        <!-- nav -->

                        <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">

                            <div class="navbar-header">

                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                                    <span class="sr-only">Toggle navigation</span>

                                    <span class="icon-bar"></span>

                                    <span class="icon-bar"></span>

                                    <span class="icon-bar"></span>

                                </button>

                            </div>

                            <div id="navbar" class="navbar-collapse collapse">            

                                <ul class="nav navbar-nav">			          

                                    <li class="active"><a href="#headere-top" title="Home">Home</a></li>

                                    <li><a href="#section-one" title="Overview">Overview</a></li>

                                    <li><a href="#section-two" title="Features">Features</a></li>

                                    

                                    <li><a href="#section-four" title="Team">Team</a></li>

                                    <li><a href="#section-five" title="Contact">Contact</a></li>

                                    <li><a href="{{ url_for('signin') }}" title="Sign In">Sign In</a></li>            

                                </ul>

                            </div>

                        </nav>

                        <!-- nav -->

                    </hgroup>

                    <!-- hgroup -->

                  </div>

            </div>

            <!-- banner Text --> 

                 <section class="text-center">

                    

                     
                    <br><br><br><br><br><br><br><br><br><br><br>
                     <a  href="{{ url_for('signup') }}" class="button-header">Get Strated</a>

                </section>

                

            <!-- banner Text -->   

                

            <!-- banner image -->

        	<figure>

            	<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="../static/homepage/images/blockchain.jpg"></div>

            </figure>

            <!-- banner image -->

        </header>

    <!-- header -->

	

    <!-- main -->

    	<main role="main" id=" main-wrapper">

        	

            <!-- top pan -->

            <section role="loges" class="top-pan">

            	<div class="container">

                	<ul class="row">

                    	<li class="col-xs-12 col-sm-3 col-md-2 col-lg-2 ">Trusted by</li>

                        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2 ">

                        	<a href="#"><img src="../static/homepage/images/logoes/logoes-1.png" alt="" class="img-responsive"/></a>

                        </li>

                        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                        	<a href="#"><img src="../static/homepage/images/logoes/logoes-2.png" alt="" class="img-responsive"/></a>

                        </li>

                        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                        	<a href="#"><img src="../static/homepage/images/logoes/logoes-3.png" alt="" class="img-responsive"/></a>

                        </li>

                        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                        	<a href="#"><img src="../static/homepage/images/logoes/logoes-4.png" alt="" class="img-responsive"/></a>

                        </li>

                        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                        	<a href="#"><img src="../static/homepage/images/logoes/logoes-5.png" alt="" class="img-responsive"/></a>

                        </li>

                    </ul>

                </div>

            </section>

        	<!-- top pan -->

            

            <!-- section-one -->

            <section class="section-one text-center" id="section-one">

            	<div class="container">

                	<header role="title-page">

                        <h4>What we do</h4>

                        <h2><i><b>Walletz<sup>®</sup></b></i> is a cryptocurrency exchange for <i><b>Coinz<sup>TM</sup></b></i>.<br/></h2>

                    </header>

                    <article>

                    	<p>Coinz<sup>TM</sup> is a cryptocurrency developed and perfected by us.<br/>

                        Walletz<sup>®</sup> is an online wallet dedicated for the use of coinz<br/>

                        Cryptocurrency is an investment for your secure future.Join us<br/>

                        and enjoy the the technology from the future.</p>

                    </article>

                    

                    <!-- four boxes  -->

                    	<div class="row four-box-pan" role="four-box">

                        	

                            <section class="col-xs-12 col-sm-6 col-md-3">

                            	<figure><i class="fa fa-mobile" aria-hidden="true"></i></figure>

                            	<h5>GO DIGITAL</h5>

                                <p>Enjoy the liberty of not carrying paper money.</p>

                            </section>

                            <section class="col-xs-12 col-sm-6 col-md-3">

                            	<figure><i class="fa fa-eye-slash" aria-hidden="true"></i></figure>

                            	<h5>STAY ANNYMOUS</h5>

                                <p>Say no to Government spying.</p>

                            </section>

                            <section class="col-xs-12 col-sm-6 col-md-3">

                            	<figure><i class="fa fa-key" aria-hidden="true"></i></figure>

                            	<h5>FREE from manipulation</h5>

                                <p>Cryptocurrency is not regulated by any authority. But still your data remains safe in an immutable public ledger.</p>

                            </section>

                            <section class="col-xs-12 col-sm-6 col-md-3">

                            	<figure><i class="fa fa-globe" aria-hidden="true"></i></figure>

                            	<h5>Cross platform</h5>

                                <p>Perform all transactions from the comfort of your home, anywhere else or rather everywhere.</p>

                            </section>

                            

                        </div>

                    <!-- four boxes -->

                    

                </div>

            </section>

            <!-- section-one -->

            

            <!-- section-two -->

            <section class="section-two" id="section-two">

            	

                <!-- image-content -->

                <section>

                	<div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                        	<h2>Get Maxium benifites by using <b><i>Coinz</i></b><sup>TM</sup>.</h2>

                            <p>Coinz is a decentralized, peer-to-peer, "cryptocurrency" system designed to allow online users to process transactions through digital units of exchange called Coinz.</p>

                            <ul>

                                <li>User Anonymity </li>

                                <li>No Third-party Interruptions </li>

                                <li>Purchases Are Not Taxed</li>

                                <li>Mobile Payments</li>

                            </ul>

                        </article>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <figure class="row" style="background-image:url('../static/homepage/images/market.jpg')"></figure>

                    </div>

                 </section>

                <!-- image-content -->

                <div class="clearfix"></div>

                 <!-- image-content -->

                 <section>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<figure class="row" style="background-image:url('../static/homepage/images/market.jpg')"></figure>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                    		<h2>Walletz provides you more than your expectation</h2>

                            <p>Walletz is an Indian Cryptocurrency Wallet and Exchange from where you can buy/sell coinz easily and quickly. The transactions are fast and quick.</p>

                            <p>At the core of Walletz lies its innovation and a dedicated team with a passion towards building world class products centred around Coinz ecosystem. It has built the world’s simplest Coinz PoS for online merchants .The Merchant gateway service provided by Walletz lets online businesses accept coinz as a mode of payment and OTC (Over The Counter) Trade allows users to trade in bulk.</p>

                        </article>

                    </div>

                 </section>

                <!-- image-content -->

                <div class="clearfix"></div>

                

                <!-- video -->

                <div class="video-pan text-center">

                    <a id="video" class="player" data-property="{videoURL:'https://vimeo.com/195722718',containment:'.bg-container-youtube', showControls:false,autoPlay:true, loop:true, startAt:0, opacity:1, addRaster:false, quality:'large'}"></a>

        

                    <!-- 5.0 background container autoPlay:true,  -->

                    <div class="bg-container-youtube"></div>

                    <header><a class="popup-vimeo video-button" href="https://vimeo.com/195722718"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    <h4>We give you wings to fly</h4>

                    </header>

                </div>


                <!-- video -->

                

                <!--slider pan -->

                <div class="slider-pan">

                	<header role="title-page" class="text-center">

                    	<h4>Quotes about Cryptocurrency</h4>

                    </header>

                    <!-- carousel -->

                    <div id="owl-demo" class="owl-carousel text-center" role="slider">

                    

                    	<section class="item">

                            <article>

                                The future of money is digital currency.	

                            </article>

                            <header>

                                <h5> Bill Gates</h5>

                                <h6>Co-Founder, Microsoft</h6>

                            </header>

                       	</section>

                        <section class="item">

                            <article>

                                Gold is a great way to preserve wealth, but it is hard to move around. You do need some kind of alternative and Bitcoin fits the 

                                bill. I’m not surprised to see that happening.

                            </article>

                            <header>

                                <h5>Jim Rickards</h5>

                                <h6>VP, Lexix Pvt Ltd</h6>

                            </header>

                       	</section>

                        <section class="item">

                            <article>

                                At their core, cryptocurrencies are built around the principle of a universal, inviolable ledger, one that is made fully public 

                                and is constantly being verified by these high-powered computers, each essentially acting independently of the others

                            </article>

                            <header>

                                <h5>Paul Vigna</h5>

                                <h6>Vice president, IQTeam</h6>

                            </header>

                       	</section>

                        <section class="item">

                            <article>

                                You can’t stop things like Bitcoin. It will be everywhere and the world will have to readjust.

                                World governments will have to readjust.


                            </article>

                            <header>

                                <h5>John McAfee</h5>

                                <h6>Founder, McAfee labs</h6>

                            </header>

                       	</section>

                        

                        

                    </div>

                    <!-- carousel -->

                </div>

                <!--slider pan -->

                

            </section>

            <!-- section-two -->

            

            <!-- section-three -->

            <!-- section-three -->

            

            <!-- section-four -->

            <section class="section-four" id="section-four">

            	<div class="container">

                    <header role="title-page" class="text-center">

                        <h4>Meet The Team</h4>

                        <h2>Our team is passionate about bringing the <br/>best for our customers.</h2>

                    </header>

                    <!-- Team -->

                    <div class="team-pan row">

                    	

                        <section class="col-xs-12 col-sm-6 col-md-3">

                        	<figure><img src="../static/homepage/images/sourish.jpg" alt="" class=" img-responsive"/></figure>

                        	<header>

                            	<h5>Sourish Atorthy</h5>

								<h6>Vice president</h6>

                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                            </header>

                        </section>

                        <section class="col-xs-12 col-sm-6 col-md-3">

                        	<figure><img src="../static/homepage/images/utsav.jpg" alt="" class=" img-responsive"/></figure>

                        	<header>

                            	<h5>Utsav Dey</h5>

								<h6>Creative Head</h6>

                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                            </header>

                        </section>

                        <section class="col-xs-12 col-sm-6 col-md-3">

                        	<figure><img src="../static/homepage/images/raja.jpg" alt="" class=" img-responsive"/></figure>

                        	<header>

                            	<h5>Spandan Ghosh</h5>

								<h6>Development Lead</h6>

                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                            </header>

                        </section>

                        <section class="col-xs-12 col-sm-6 col-md-3">

                        	<figure><img src="../static/homepage/images/ping_chong.jpg" alt="" class=" img-responsive"/></figure>

                        	<header>

                            	<h5>Pinaki Chakraborty</h5>

								<h6>Marketing Head</h6>

                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                            </header>

                        </section>

                        

                    </div>

                    <!-- Team -->

                </div>

            </section>

            <!-- section-fore -->

            

            <!-- section-five -->

            <section class="section-five" id="section-five">

            	<div class="container">

                	 <header role="title-page" class="text-center">

                        <h4>Newsletter Subscribe</h4>

                        <h2>Subscribe to get monthly products updates<br/>and exclusive offers</h2>

                    </header>

                    <!-- subscribe -->

                    <div class="subscribe-form">

                        <div class="ntify_form">

                            <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">

                                <input name="email" type="email" id="subemail" placeholder="Email Address">

								

                                <button type="submit" name="" value="Submit">

                                Subscribe <i class="fa fa-envelope" aria-hidden="true"></i></button>

                            </form>

                            <!-- subscribe message -->

                            <div id="mesaj"></div>

                            <!-- subscribe message --> 

                        </div>

                    </div>

                    <!-- subscribe -->

                </div>

            </section>

            <!-- section-five -->

            

            <!-- section-six -->

            <section class="section-six" id="section-six">

            	<div class="container">

                	 <header role="title-page" class="text-center">

                        <h4>Get in touch</h4>

                        <h2>Have any questions? Our team will happy to<br/>answer your questionss.</h2>

                    </header>

                    <!-- contact-form -->

                    <div class="contact-form">

                        <div id="message"></div>

                                <form method="post" action="{{url_for('home')}}" name="cform" id="cform">

                                <div class="col-md-6 col-lg-6 col-sm-6">

                                	<input  name="name" id="name" type="text" placeholder="Full Name">

                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-6">

                                	<input  name="email" id="email" type="email"  placeholder="Email Address">

                                </div>

                                <div class="col">

                                    <input  name="subject" id="subject" type="text"  placeholder="Subject">

                                </div>

                                <div class="clearfix"></div>

                                <textarea name="message" id="comments" cols="" rows="" placeholder="Question in Detail"></textarea>

                                <div class="clearfix"></div>

                                <input name="" type="submit" value="Send mail">

                                <div id="simple-msg"></div>

                        </form>

                     </div>

                    <!-- contact-form -->

                    <div class="clearfix"></div>

                </div>

                <!-- map -->

                 <div class="map-wrapper">

                        <div id="surabaya"></div>

                    </div>

                <!-- map -->

            </section>

            <!-- section-six -->

            

           <!-- footer -->

           <footer role="footer" class="footer text-center">

           		<div class="container">

                	<!-- socil-icons -->

                	<section role="socil-icons" class="socil-icons">

                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                    </section>

                    <!-- socil-icons -->

                    <!-- nav -->

                    <nav role="footer-nav">

                        <a href="#">Terms of Use </a> 

                        <a href="#">Privacy Policy</a>

                    </nav>

                    <!-- nav -->

                    <p class="copy">&copy; 2018 Walletz. All rights reserved. Made with <i class="fa fa-heart pulse"></i> by Group 15</p>

                </div>

           </footer>

           <!-- footer -->

            

        </main>

    <!-- main -->

    



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="../static/homepage/js/jquery.min.js" type="text/javascript"></script>

    

	<script src="../static/homepage/js/parallax.min.js" type="text/javascript"></script>

	<script type="text/javascript">

    	$('.parallax-window').parallax({});

    </script>

    <script src="../static/homepage/js/main.js" type="text/javascript"></script>

	<script src="../static/homepage/js/owl.carousel.js" type="text/javascript"></script>

    <script src="../static/homepage/https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 

	<script src="../static/homepage/js/maps.js" type="text/javascript"></script>

    <script type="text/javascript" src="../static/homepage/js/jquery.mb.YTPlayer.js"></script>

	<script type="text/javascript" src="../static/homepage/js/video.js"></script>

    <script src="js/custom.js" type="../static/homepage/text/javascript"></script>

	<script src="../static/homepage/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

	<script src="../static/homepage/js/jquery.contact.js" type="text/javascript"></script>

    <script src="../static/homepage/js/bootstrap.min.js" type="text/javascript"></script>

	<script src="../static/homepage/js/html5shiv.min.js" type="text/javascript"></script>

	

  </body>

</html>